[submodule "lib/se3_flow_matching"]
	path = lib/se3_flow_matching
	url = git@github.com:baker-laboratory/frame-flow.git
[submodule "lib/rf2aa"]
    path = lib/rf2aa
    url = git@git.ipd.uw.edu:jue/RF2-allatom.git
[submodule "lib/fused_mpnn/fused_mpnn"]
	path = lib/fused_mpnn/fused_mpnn
	url = git@github.com:baker-laboratory/fused_mpnn.git
