# Base inference Configuration.
defaults:
  - base

guidepost_bonds: True

inference:
  align_motif: False
  str_self_cond: True

score_model:
  weights_path: /net/scratch/ahern/se3_diffusion/training/covale_complex/2023-07-17_1689653232.842943_2q8djdu0/rank_0/models/RFD_32.pt
