# The base yaml for doing protein protein interface models
defaults:
  - fm

ckpt_load_path: /home/bcov/sc/flow/binder_dev/rf_diffusion/models/rf2a_25c_414_t1d-114.pt

rundir: /net/scratch/bcov/train_test
wandb_prefix: 'ppi'

upstream_training_transforms:
  names:
    - PPITrimTailsChain0ComplexTransform
    - PPIRejectUnfoldedInterfacesTransform
    - PPIJoeNateDatasetRadialCropTransform
    - GenerateMasks
    - PopMask
  configs:
    PPITrimTailsChain0ComplexTransform:
      operate_on_datasets: ['compl', 'metal_compl', 'sm_compl_asmb', 'sm_compl_multi']
      scn_unfolded_thresh: 1.0
      can_remove_hotspots: True
      all_but_1_cutoff: 4
      all_but_2_cutoff: 8
      n_mer: 9
      verbose: True
    PPIRejectUnfoldedInterfacesTransform:
      operate_on_datasets: ${upstream_training_transforms.configs.PPITrimTailsChain0ComplexTransform.operate_on_datasets}
      binder_fbscn_cut: 0 #0.12
      binder_fbscn_at_interface_cut: 0 #0.13
    PPIJoeNateDatasetRadialCropTransform:
      operate_on_datasets: ${upstream_training_transforms.configs.PPITrimTailsChain0ComplexTransform.operate_on_datasets}
      CROP: ${dataloader.CROP}
    GenerateMasks: {}
    PopMask: {}

transforms:
  names:
    - AddConditionalInputs
    - ExpandConditionsDict
    - CenterPostTransform

  configs:
    AddConditionalInputs:
      p_is_guidepost_example: ${dataloader.P_IS_GUIDEPOST_EXAMPLE}
      guidepost_bonds: ${guidepost_bonds}
    ExpandConditionsDict: {}
    CenterPostTransform:
      jitter: 5.0
      jitter_clip: 20.0
      center_type: 'all'

dataloader:
  P_IS_GUIDEPOST_EXAMPLE: 0.0
  DATAPKL_AA: aa_dataset_256.pkl
  DATASETS: pdb_aa,compl,sm_complex,sm_compl_covale,metal_compl,sm_compl_asmb,sm_compl_multi
  DATASET_PROB:
  - 0.1
  - 0.6
  - 0.06
  - 0.02
  - 0.02
  - 0.1
  - 0.1
  DIFF_MASK_PROBS:
    get_unconditional_diffusion_mask_free_ligand: 0.002
    get_unconditional_diffusion_mask: 0.00075
    get_unconditional_diffusion_mask_partial_ligand: 0.00075
    get_diffusion_mask_islands_free_ligand: 0.0005
    get_diffusion_mask_islands: 0.0005
    get_diffusion_mask_islands_partial_ligand: 0.0005
    get_tip_mask: 0.0
    get_tip_mask_unconditional_free_ligand: 0.0
    get_tip_mask_unconditional_partial_ligand: 0.0

    get_closest_tip_atoms: 0.0
    get_closest_tip_atoms_partial_ligand: 0.0
    get_atomized_islands: 0.0
    get_entirely_atomized: 0.0

    get_PPI_fully_diffused_no_crop: 1
    get_PPI_fully_diffused_radial_crop: 1
    get_PPI_fully_diffused_planar_crop: 1
    get_PPI_interface_motif_no_crop: 0.3
    get_PPI_interface_motif_radial_crop: 0.3
    get_PPI_interface_motif_planar_crop: 0.3
    get_PPI_random_motif_no_crop: 0.1
    get_PPI_random_motif_radial_crop: 0.1
    get_PPI_random_motif_planar_crop: 0.1


  fast_filters:
    compl:
      names: ['reject_chain0_longer_than']
      configs:
        reject_chain0_longer_than:
          max_length: 170
          verbose: False
    metal_compl: ${dataloader.fast_filters.compl}
    sm_compl_asmb: ${dataloader.fast_filters.compl}
    sm_compl_multi: ${dataloader.fast_filters.compl}

  dataset_param_overrides:
    compl:
      CROP: 600
    metal_compl: ${dataloader.dataset_param_overrides.compl}
    sm_compl_asmb: ${dataloader.dataset_param_overrides.compl}
    sm_compl_multi: ${dataloader.dataset_param_overrides.compl}

  mask:
    only_first_chain_ppi_binders: True


diffuser:
  t_distribution: uniform_t001
  preserve_motif_sidechains: false

benchmark: False

rf:
  model:
    use_chiral_l1: True
    use_lj_l1: True
    use_atom_frames: True
    use_same_chain: True
    recycling_type: all
    enable_same_chain: True
    refiner_topk: 128